<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="PassKeepAndroid.PassKeepAndroid" android:installLocation="preferExternal" android:versionName="Enigma">
	<uses-sdk android:targetSdkVersion="25" android:minSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:allowBackup="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:icon="@mipmap/passkeeper" android:label="Pass Keeper"></application>
</manifest>